@charset 'utf-8';
/* 여백설정 */
*{
  margin: 0;
  padding: 0;
}

a{
  font-style: italic;
  text-decoration: none;
}
h1{
  color: blue !important;
}
body{
  background-color: antiquewhite;
}
/* 텍스트 밑줄 */
span{
  text-decoration: line-through;
}
div{
  width: 600px;
  color: red;
  background-color: greenyellow;
}