@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style: none;
}

/**reset*/

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{    
    height: 580vh;
    min-width: 320px;
    /* width: 100%; */
}
html,button{
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    
}

nav{
    display: flex;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 3rem;
    color: #ff0101;
    
    z-index: 10;

}

.on{
    display: block !important;
}
.logo{
    cursor: pointer;
    padding: 0;
    width: 100px;
}
.logoimg{
    width: 75px;
}
nav> .gnb{
    position: fixed;
    display: none;
    top: 100px;
    right: 0;

}
nav> .gnb > li{
    padding: 10px;
    font-size: 2.5rem;
    cursor: pointer;
}
header > .home{
    height: 100vh;
    position: relative;
    color: #fff;
    text-align: center;
}
header > .home > .container{
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);

}
header > .home > .container >*{
    margin: 2rem 0 ;
}
header > .home h2{
    font-size: 2rem;
}
header > .home h3{
    font-size: 4rem;
    
}
header > .home span.blink{
    animation: blink 0.5s infinite ;
}
header > .home button{
    font-size: 1.5rem;
    border-radius: 40px;
    border:2px solid #fff;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
header > .home button:hover{
    background-color: #fff;
    color: #222;
}
header> .home >i{
    position: absolute;
    bottom: 40px;
    left: 50%;
    /* transform: translateX(-50%); */
    font-size: 3rem;
    z-index: 1;
}
header > .home video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/*main*/
main{
    padding-bottom: 50px;
}
main > section:nth-of-type(even){
    background-color: #ccc;
}
main > section{
    /* width: 50%; */
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section > .wrapper{
    
    width: 70%;
    
    
}
main > .wrapper> section  *{
    margin: 7px 0;
}
.wrapper > .title{
    margin: 30px 0;
}
.wrapper > .title > h4{
    color: #f00;
    font-size: 2rem;
}
.wrapper > .title > h2{
    font-size: 4rem;
    font-weight: bolder;
}

/*about*/
.about img{
    width: 70%;
    height: 40rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.about .right > h3{
    font-size: 3rem;
    position: relative;
    z-index: 6;
}
.about .sns i{
    font-size: 2rem;
    margin: 3px;
}
/*features*/
.features .card i{
    font-size: 3rem;
    color: rgb(248, 3, 3);
    position: relative;
    z-index: 5;
}
.features p{
    font-size: 1.3rem;
    color: rgb(32, 40, 10);
    word-break: break-all;
    z-index: 7;
    position: relative;
}
.card{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.features .card.in *{
    color: #fff;
    opacity: 1;
    
}
.features .card h2{
    position: relative;
    z-index: 9;
}

.features .card span{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transition: 0.5s;
    background-color: tomato;
    transform: scale(0);
    opacity: 0;
}

/*portfolio*/
.portfolio{
    padding: 50px;
    display: block;
    height: 100vh;
}
.portfolio .detail{
    position: absolute;
    width: 70%;
    margin: 0 30px;
}
.portfolio .moveBtn i{
    font-size: 30px;    
    color: #222;
    cursor: pointer;
    position: relative;
    top: 300px;
}
.portfolio .moveBtn i:nth-child(1){
    left: 90px;
    
}
.portfolio .moveBtn i:nth-child(2){
    left: 150px;
}
.portfolio .cardlist{
    display: block;
    margin: 0;
    transform:none;
}

.portfolio .card{
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid#888;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 30px;
    opacity: 0;
}
.portfolio .card.on{
    opacity: 1;
}
.portfolio .card img{
    width: 100%;
}
.portfolio .card:hover{
    background-color: rgb(181, 234, 244);
    transform: scale(1.1);
    
}
.portfolio .card:hover p{
    color: #ff0000;
}
.portfolio .card h3{
    color: rgb(3, 3, 1);
    font-size:1.5rem;
}
.portfolio .card p{
    font-size: 2.5rem;
}


/*background fixed*/
.bg{
    
    height: 80vh;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*contact*/

.contact .card{
    border:1px solid #888;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.contact .card .icon{
    font-size: 2rem;
    margin: 0.7rem 1.1rem;
}
.left .card:hover {
    background-color: rgb(233, 235, 230);
    font-weight: bold;
}
.left .card:hover i {
    color: #f00;
}
.left .card:hover strong {
    color: rgb(101, 32, 108);
    font-size: 2rem;
}
.left .card:hover .text p {
    color: rgb(108, 104, 32);
    font-size: 1.3rem;
}
.contact .text strong{
    font-size: 1.3rem;
    font-weight: bolder;
}

.contact form{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px;
    
    position: relative;
}

.contact form input,
.contact form textarea{
    width: 100%;
    border: 1px solid #888;
    border-radius: 5px;
    padding:7px
}
.contact form textarea{
    height: 200px;
    resize: none;
}
.contact form input:focus,
.contact form textarea:focus{
    box-shadow: 0 0 10px rgb(42, 162, 237);
    outline: none;
}
.contact form button{
    width: 100%;
    background-color: rgb(199, 160, 143);
    border: none;
    padding: 10px;
    font-size: 2rem;
    border-radius: 4px;
}
/*메일 보내기 확인 후 팝업**/
.contact .right .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: none;
}
.thankyou_message p.close{
    background-color: rgb(141, 131, 169);
    border: none;
    border-radius: 10%;
    padding: 20px;
    font-size: 2rem;
    cursor: pointer;
}

/* animation */
@keyframes blink{
    0%{opacity: 1;}
    100%{opacity: 0;}
}


/* 미디어 쿼리 작성*/
/* 기본 레이아웃은 모바일을 기준으로 함*/
/*모바일*/

/*태블릿*/
@media all and (min-width: 768px){
    html{
        font-size: 12px;
    }
    nav{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 1rem;
        color: #ff0101;
        z-index: 10;
    
    }
    a>i{
        display: none !important;
        
    }
    nav> .gnb{
        display: flex !important;
        position: relative;
        top: 0;
    }
    nav> .gnb > li{
        padding: 10px;
        font-size: 3.5rem;
        cursor: pointer;
    }
    .wrapper{
        max-width: 600px;
        margin: 20px auto;
        width: 100%;
    }
    .features > .detail,
    .portfolio > .detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .features > .detail .card,
    .portfolio > .detail .card{
        width: 50%;
    }
    .about>.detail{
        padding: auto 20px;
    }
    .portfolio{
        padding: 20px 150px;
    }

    .portfolio .moveBtn i{
        font-size: 50px;    
        color: #222;
        cursor: pointer;
        position: relative;
        top: 100px;
    }
    .portfolio .moveBtn i:nth-child(1){
        left: -100px;
    }
    .portfolio .moveBtn i:nth-child(2){
        left: 350px;
    }
}
/*pc형*/
@media all and (min-width:1024px){
    html{
        font-size: 14px;
    }
    nav{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 1rem;
        color: #ff0101;
        z-index: 10;
    }
    a>i{
        display: none !important;
    }
    nav> .gnb{
        display: flex !important;
        position: relative;
        top: 0;
    }
    nav> .gnb > li{
        padding: 10px;
        font-size: 3.5rem;
        cursor: pointer;
    }
    .wrapper{
        width: 100%;
        max-width: 1024px;
        margin: 50px auto;
    }
    .wrapper>.detail{
        display: flex;

        justify-content: space-between;
        
    }
    
    .about  .detail >img{
        width: 50%;
    }
    .features  .detail >.card{
        width: 30%;
    }
    /* .portfolio .detail>.card{
        width: 30%;
    } */
    .contact .detail>.left{
        width: 35%;
        display: block;
    }
    .contact .detail>.right{
        width: 60%;
    }
    .contact .card{
        width: 100%;
    }
    /*포트폴리오 위치 재설정*/
    .portfolio .detail{
        width: 1000px;
        height: 440px;
        overflow: hidden;
    }
    .portfolio .card{
        position: static;
        opacity: 1;
        width: 380px;
    }
    .portfolio .cardlist{
        display: flex;
        gap:50px;
        position: relative;
        margin: 0 200px;
        transition: 0.5s;
    }
    .portfolio .moveBtn i{
        font-size: 50px;    
        color: #222;
        cursor: pointer;
        position: relative;
        top: 100px;
    }

    .portfolio .moveBtn i:nth-child(1){
        left: -100px;
    }
    .portfolio .moveBtn i:nth-child(2){
        left: 1080px;
    }
    
}